/* Userhome.css */
.userhome {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* Main content가 화면의 대부분을 차지하도록 */
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.store {
  color: #d94844;
  font-weight: 900;
  font-size: 18px;
  text-align: flex-end;
  margin: 13px;
}
